<div *ngIf="!showStore" style="position: absolute; background-color: rgba(255, 255, 255, 0.6); width: 100%; height: 100%; z-index: 100000">
  <div style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">
    Loading...
  </div>
</div>


<app-navbar *ngIf="showStore"></app-navbar>

<div class="row w-100" *ngIf="showStore">
  <div class="col-1"></div>
  <div class="col-10">
    <div class="container">
      <div class="row row-cols-auto gx-4 justify-content-center">
        <app-item [price]="product.price" [description]="product.description" [name]="product.name" [image_name]="product.image_name" class="col-lg-4 d-flex align-items-stretch"
                  *ngFor="let product of products"></app-item>
      </div>
    </div>
  </div>
  <div class="col-1"></div>
</div>
