<div class="row h-100 justify-content-center align-items-center m-0 p-0">
  <div class="col-md-4">
    <div class="card bg-light">
      <div class="card-body">
        <h5 class="card-title text-danger">Reset password</h5>
        <form>
          <div class="mb-3">
            <div class="input-group mb-3">
            <span class="input-group-text">
              <mat-icon>account_circle</mat-icon>
            </span>
              <input [(ngModel)]="email" type="email" class="form-control" id="emailInput" aria-describedby="emailHelp"
                     name="email" placeholder="Email address">
            </div>
          </div>
          <div>
            <a>
              Already have an account?
            </a>
            <button class="btn p-0 link-primary" (click)="changePage(1)">Sign in</button>
          </div>
          <div>
            <a>
              Do not have an account?
            </a>
            <button class="btn p-0 link-primary" (click)="changePage(2)">Sign up</button>
          </div>
          <button type="submit" class="btn btn-danger mt-3" (click)="handleResetPassword()">Reset password</button>
        </form>
      </div>
    </div>
  </div>
</div>

